* {
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
}

body {
        margin: 0;
        background-color: #262626;
        color: #D9D9D9;
        padding: 30px;
        height: 100vh;
        display: flex;
        justify-content: center;
}

header {
        text-align: center;
}

header > h1 {
        font-size: 1.25rem;
        font-weight: 500;
        color: #F9F4DA;
        margin-top: 0;
}

header > p {
        font-size: 0.875rem;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        color: #8E8E8E;
}

section.game-status {
        background-color: #10A95B;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #F9F4DA;
        border-radius: 4px;
        margin-block: 20px /*metto margin Top e Bottom*/
}

section.game-status > h2 {
        font-size: 1.25rem;
        margin: 5px;
}

section.game-status > p {
        margin: 5px;
}

section.language-chips {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
}

span.chip {
        border-radius: 3px;
        padding: 4.5px;
        position: relative;
}

section.word {
        display: flex;
        justify-content: center;
        gap: 4px;
}

section.word > span {
        height: 40px;
        width: 40px;
        background-color: #323232;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.125rem;
        border-bottom: 2px solid #c2beab;
}

section.keyboard {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        max-width: 450px;
        margin-top: 36px;
}

section.keyboard > button {
        height: 35px;
        width: 35px;
        background-color: #FCBA29;
        border: 1px solid #D7D7D7;
        border-radius: 3px;
        cursor: pointer;
}

section.keyboard > button.correct {
        background-color: #10A95B;
}

section.keyboard > button.wrong {
        background-color: #EC5D49;
}

.newGame-button {
        background-color: rgb(82, 194, 255);
        border: 1px solid #D7D7D7;
        border-radius: 3px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 46px;
}

/* Dimmed overlay skull on lost languages */
span.chip.lost::before {
        content: "💀";
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 0.85rem;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
}